# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
**/[Bb]in/
[Oo]bj/
[Ll]og/
build/
Build_Output/
PublishProfiles/
[Bb]in/
msbuild.log
msbuild.err
msbuild.wrn

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.DS_Store
appsettings.local.json

/.vscode/
.fake
.ionide

*.pdf
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
*.orig

# Visual Studio 2015
.vs/
/src/packages
**/*/test.log
*/*/logs/

*.crt
*.pfx

*/node_modules/
/src/.nuget/NuGet.Config
*.key
**/.idea/
test.log
